<section>
    <a (click)="refresh()">
      <img src="assets/actualiser.png" class="icon" />
    </a>
    <a routerLink="./addparticipant" routerLinkActive="active">
      <img src="assets/add.png" class="icon" />
    </a>
      <table>
        <tr>
          <td>Liste des particpants</td>
        </tr>
    
        <app-participant-item
          *ngFor="let participantItem of participantItems"
          [participant]="participantItem"
          ><tr></tr>
        </app-participant-item>
      </table>
    </section>
    
    <router-outlet></router-outlet>
    
