.table-participants-element td {
  position: relative;
  font-size: 15px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  background-color: #72b0ea;
  border: 1px solid #fafafa;
  vertical-align: inherit;
  width: 100%;
}
.table-participants-element {
  width: 100%;
}