.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    background-color: maroon;
  }
  
  mat-nav-list {
    background-color: maroon;
  }
  
  mat-sidenav{
    background-color: maroon;
  }
  
  mat-nav-list a {
    color: white;
    border-bottom: 1px;
    border-collapse: separate;
    border-style: ridge;
  }
  
  .icon{
    width: 48px;
    height: 48px;
    margin: 10px;
  }