<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)"
    >
      <mat-toolbar color="primary"  >
        <img
          src="assets/nav bar.png"
          alt="espace admin"
          style="width: 70px; height: 50px; position: left"
        />
       <h3 style="font-size: 14px; font-weight: blod;"> Espace admin</h3>
      </mat-toolbar>
      <mat-nav-list>
        <a  mat-list-item routerLink="/rechercher">
          <img src="assets/rechercher.png" class="icon" />
          Rechercher session 
        </a>
        <a  mat-list-item routerLink="/dashboard">
          <img src="assets/dashbord3.png" class="icon" />
          Dashboard
        </a>
        <a mat-list-item routerLink="/admin">
          <img src="assets/dashbord2.png" class="icon" />
          Sessions</a>
        <a mat-list-item routerLink="/formateur">
          <img src="assets/formateurs.png" class="icon" />
          Formateurs</a>
        <a mat-list-item routerLink="/participant">
          <img src="assets/dashbord1.png" class="icon" />
          Participants</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
  
        <span style=" display: flex; 
        justify-content: space-between; flex: 1; font-size: 15px">
          {{ test | date:"dd/MM/yyyy-HH:m"  }} - Tunis
          <img
            src="assets/deconnect.png"
            alt="espace admin"
            style="width: 40px; height: 40px; margin-top: 10px; margin-left: 10px"
          />
        </span>
      </mat-toolbar>
      <!-- Add Content Here -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
