<header>
    <h2>Modifier un participant</h2>
  </header>
  <form
    #participantItemForm="ngForm"
    (ngSubmit)="modifierparticipant(participantItemForm.value)"
  >
    <ul>
      <li>
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          required
          name="name"
          [(ngModel)]="participant.name"
        />
      </li>
      <li>
        <label for="lastname">lastname</label>
        <input
          type="text"
          id="lastname"
          required
          name="lastname"
          [(ngModel)]="participant.lastname"
        />
      </li>
      <li>
        <label for="adress">adress</label>
        <input
          type="text"
          id="adress"
          required
          name="adress"
          [(ngModel)]="participant.adress"
        />
      </li>
      <li>
        <label for="societe">societe</label>
        <input
          type="text"
          id="societe"
          required
          name="societe"
          [(ngModel)]="participant.societe"
        />
      </li>
      <li>
        <label for="poste">poste</label>
        <input
          type="text"
          id="poste"
          required
          name="poste"
          [(ngModel)]="participant.poste"
        />
      </li>
      <li>
        <label for="email">email</label>
        <input
          type="email"
          id="email"
          required
          name="email"
          [(ngModel)]="participant.email"
        />
      </li>
    </ul>
    <button type="submit">Enregistrer</button>
  </form>
  