<div class="content-dash">
    <div class="rectangle">
        <a>
            <img src="assets/dashbord2.png" alt="nombre de session" class="icon">
            {{taille}} sessions
        </a>

    </div>


    <div class="rectangle2 ">
        <a>
            <img src="assets/dashbord1.png" alt="nombre des participant " class="icon">
            {{tailleParticipants}} participants
        </a>

    </div>

    <div class="rectangle3">
        <a>
            <img src="assets/formateurs.png" alt="nombre des formateurs " class="icon">
            {{tailleFormateurs}} Formateurs
        </a>

    </div>
</div>

<div class="content-table" >
    <table class="formateur">
        <tr>
            <td>Top Formateurs </td>
        </tr>
        <tr>
            {{formateurItems[1].name}} {{formateurItems[1].lastname}}
        </tr>
        <tr>
            {{formateurItems[0].name}} {{formateurItems[0].lastname}}
        </tr>
    </table>
    <table class="formation"  >
        <tr>
            <td style="background-color: blue;">Track</td>
            <td style="background-color: blue;">Nombre de sessions</td>
        </tr>
        <tr>
            <td> {{sessionItems[0].track}}</td>
            <td>{{nbresession}}</td>
        </tr>
        <tr>
            <td> {{sessionItems[1].track}}</td>
            <td>{{nbresession}}</td>
        </tr>
        <tr>
            <td> {{sessionItems[2].track}}</td>
            <td>{{nbresession}}</td>
        </tr>
        <tr>
            <td> {{sessionItems[3].track}}</td>
            <td>{{nbresession}}</td>
        </tr>
    </table>
</div>